/*font-family*/
p {
    font-family: Anton;
}

h1 {
    font-family: Roboto;
}

/*font-size*/
body {
    font-size: 10px;
}

/*font-size: 2.0em*/
/*makes the text in the span tag 2x bigger than the text in the paragraph*/
h1 {
    font-size: 5.0em;
}

p {
    font-size: 2.0em;
}

span {
    font-size: 2.0em;
}
/*font-weight*/
/*How bold or light the text is*/
/*Some font allows you to add a numeric value which ranges from 100 to 800*/
p {
    font-weight: bold;
}

/*line-height*/
/*Changes the space between the lines*/
p { 
    line-height: 1.5;
}

/*text-align*/
/*Controls hoe the text of a given element is aligned( to the right, center, or the left)*/
h1 {
    text-align: right;
}
p {
    text-align: center;
}

/*text-decoration*/
/*Unerline, Overline or strikethrough effect*/
p {
    text-decoration: underline;
}

h1 {
    text-decoration: line-through;
}
