body {
    background-color: 232323;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float:left;
    margin: 1.66%;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

html {
    height: 100%;
    background-color: rgb(51, 47, 47);
}

#banner1 {
    background-color: rgb(29, 132, 192);
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: white;
}

#banner2 {
    background-color: white;
    color: rgb(29, 132, 192);;
}

.selectedButton {
    background-color:  rgb(29, 132, 192);
    color: white;
}